.edit-side {
    padding: 1rem 2rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.edit-side > div {
    background-color: var(--bg-white);

    width: 100%;
    border-radius: 15px;

    padding: 0.9rem 1rem;
}

.template-loader {
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;
}

.template-loader button {
    padding: 3px;
    width: 100%;
    text-align: center;
}

.clear-resume {
    background-color: var(--bg-white);
    color: red;
}

.load-template {
    background-color: var(--bg-light);
}

.edit-section-option {
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.edit-section-option button {
    padding: 3px;
    width: 100%;
    text-align: center;
}

.active-edit-section {
    text-align: center;
    margin-bottom: 1.5rem;
}

.edit-section-option ul {
    text-align: center;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.edit-section-option li {
    font-size: 0.9rem;
    border-radius: 10px;
}

.edit-section-option li:hover button {
    transform: translateY(-5px);
}

.edit-section-header {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.section-list {
    padding: 3px 0;
    background-color: var(--bg-light);
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-bottom: 1rem;
}

.section-list-item {
    padding: 0.5rem;
    background-color: var(--bg-white);
    font-weight: 600;
}

.edit-section-add {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-form-action {
    display: flex;
    align-items: center;
    gap: 1rem;
}
