.resume-container {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.resume-border {
    padding: 3px;
    border: 2px solid var(--bg-main);
}

.resume {
    width: 900px;
    height: 1273px;
    background-color: var(--bg-white);
}
