.resume-container {
    padding: 1rem;
    display: flex;
    justify-content: center;
    position: relative;
}

.resume-wrapper {
    padding: 10px;
    height: calc(100vh - 80px);
    overflow-y: scroll;
    overflow-x: visible;
}

.resume-wrapper.extend {
    height: auto;
    overflow-y: unset;
}

.extend-button {
    position: absolute;
    top: calc(1rem + 15px);
    left: 0;
    z-index: 100;
}

.extend-button button {
    background-color: var(--bg-white);
    padding: 10px;
    border: unset;
}

.resume-border {
    padding: 3px;
    border: 2px solid var(--bg-main);
}

.resume {
    width: 900px;
    height: 1273px;
    background-color: var(--bg-white);
    font-size: 1.1rem;
}

.resume-section {
    margin: 1rem 3rem;
}

.resume-section-header {
    margin-bottom: 0.5rem;
    border-bottom: 3px solid black;
    margin-bottom: 1rem;
}

.item-top {
    display: flex;
    align-items: center;
    gap: 3px;
}

.item-top .icon {
    filter: invert(100%);
}

.st {
    font-size: 1em;
    font-weight: 600;
}
.nd {
    font-size: 0.9em;
    font-weight: 500;
}
.rd {
    font-size: 0.8em;
    display: flex;
    align-items: center;
}
.th {
    flex: 1;
    text-align: end;
    font-weight: 600;
    font-size: 0.8;
}
