.resume-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 1.5rem;
    padding-bottom: 1rem;

    color: var(--text-white);
    background-color: var(--bg-main);
}

.resume-name {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.contact-info {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.contact-info > div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon-email {
    background-image: url("/email-icon.svg");
    background-size: cover;
}

.icon-phone {
    background-image: url("/phone-icon.svg");
    background-size: cover;
}

.icon-address {
    background-image: url("/address-icon.svg");
    background-size: cover;
}
